@font-face{
    font-family: 'TitilliumWeb-SemiBold';
    src: url("../ProjetoOKN/Fonts/TitilliumWeb-SemiBold.ttf")
}
@font-face{
    font-family: 'TitilliumWeb-Light';
    src: url("../ProjetoOKN/Fonts/TitilliumWeb-Light.ttf")
}
@font-face{
    font-family: 'TitilliumWeb-ExtraLight';
    src: url("../ProjetoOKN/Fonts/TitilliumWeb-ExtraLight.ttf")
}
@font-face{
    font-family: 'TitilliumWeb-Bold';
    src: url("../ProjetoOKN/Fonts/TitilliumWeb-Bold.ttf")
}
@font-face{
    font-family: 'TitilliumWeb-Regular';
    src: url("../ProjetoOKN/Fonts/TitilliumWeb-Regular.ttf")
}
/* ------------------------------------------- CLASSES ------------------------------------------------------ */
.body{
    margin: auto;
}
h1{
    text-align:justify;
    font-family: 'TitilliumWeb-SemiBold';
    width: 40%;
    top: 20%;
    left: 10%;
    position: absolute;
    display: inline-block;
    color: #ffff;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.11em;
    
}
h2{
    text-align: justify;
    font-family: 'TitilliumWeb-Light';
    width: 35%;
    top: 50%;
    left: 10%;
    position: relative;
    display: inline-block;
    color: #ffff;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.03em;
}
    {
    text-align: center;
    font-family: 'TitilliumWeb-Bold';
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin: 60px 0px 0px 0px;
    text-align: center;
    letter-spacing: 0.11em;
 }
 h4{
    text-align: center;
    font-family: 'TitilliumWeb-Bold';
    color: #000000;
    margin: 40px 0px 20px 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
} 
h5{
    text-align: center;
    font-family: 'TitilliumWeb-ExtraLight';
    color: #000000;
    line-height: 28px;
    margin: -15px 0px 20px 0px;
    font-size: 15px;
} 
h6{
    text-align: center;
    font-family: 'TitilliumWeb-Bold';
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    margin-top: -760px;
    text-align: center;
    letter-spacing: 0.11em;
}
.Text{
    font-family: 'TitilliumWeb-Regular';
    width: 50%;
    color: #000000;
    margin: 0.5% 46%;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 38px;
    position: absolute;
}
.Copyright{
    font-family: 'TitilliumWeb-Light';
    width: 50%;
    color: #000000;
    margin: 0.5% 46%;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin-top: 2.5%;
    margin-left: 10%;
}
.ImgIcon{
    position: relative;
    width: 10%;
    right: 26%;
    top: 61%;   
    display: inline-block;
    margin-right: 25px;
    margin-top: 15px;
}
.ImgIcon1{
    position: relative;
    right: 34%;
    top: -2%;
}
.ImgIcon2{
    position: relative;
    right: 33.5%;
    top: -1%;
}
.ImgIcon3{
    position: absolute;
    display: flex;
    margin-top: -3%;
    margin-left: -46px;
}
.ImgIcon4{
    margin-top: 12%;
    padding-right: 3%;
}
.ImgList{  
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.checkbox{
    font-family: 'Titillium Web';
    font-style: normal;
    padding: 0px 100px auto;
    margin-left: 10px;
}
.FormRow{
    width: 90%;
    margin: 10px 45px auto;
}
.FormRow2{
   width: 90%;
   margin: 30px 48px auto;
}
.Label{
   text-align: center;
   font-family: 'TitilliumWeb-Regular';
   font-size: 13px;  
   font-weight: bold;
   line-height: 30px;
}
.Rectangle{
    width: 225px;
    height: 65;
    margin-right: -500px;
    position: relative;
    transform: translate( -100px);   
}
.Rectangle1{
    width: 225px;
    height: 65;
    margin-right: -500px;
    position: relative;
    transform: translate( -100px); 
}
.Rectangle2{
    margin-right: -500px;
    position: relative;
    transform: translate( -105px);
    margin-left: 4%; 
}
.Rectangle3{
    margin-right: -500px;
    position: relative;
    transform: translate( -135px);
}
.IconsGreen{
    z-index: 1;
    margin-top: -88px;
    margin-left: -3px;
}
.IconsGreen1{
    z-index: 1;
    margin-top: -88px;
    z-index: 1;
    margin-left: 10px;
}
.TextGreen{
    font-family: 'TitilliumWeb-Regular';
    margin-top:  15px;
    margin-left: -20px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;

}
.TextGreen1{
    font-family: 'TitilliumWeb-Regular';
    font-size: 22px;
    margin-left: -33px;
    line-height: 32px;
    margin-top: -1px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
}
.TextGreen2{
    font-family: 'TitilliumWeb-Regular';
    margin-top:  15px;
    margin-left: -20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: -8%;
}
.SubTitle2{
    text-align: center;
    font-family: 'TitilliumWeb-Regular';
    position: absolute;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}
.SubTitle{
    font-family: 'TitilliumWeb-Regular';
    width: 50%;
    color: #000000;
    margin: 0.5% 25%;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    z-index: 1;
}
.TitleForm{
    text-align: center;
    font-family: 'TitilliumWeb-Bold';
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.11em;
    margin-top: 6%;
    margin-left: -46%;  
}
.TitleForm1{
    font-family: 'TitilliumWeb-Bold';
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.03em;
} 
.TitleForm2{
    text-align: center;
    font-family: 'Titillium Web';
    color: #000000;
    line-height: 28px;
    margin: -20px 0px 20px 0px;
    font-size: 15px;
} 
.TitleForm3{
    font-family: 'TitilliumWeb-Bold';
    color: #000000;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.11em;
    margin-left: -46%;  
    margin-top: -6%;
    position: absolute;
    margin-left: 57%;
}
.DivCenter{
    font-family: 'TitilliumWeb-Light';
    text-align:justify;
    color: #000000;
    line-height: 38px;    
    font-size: 23px;
    font-style: normal;
    margin-top: 40px;
    text-align: center;
}
.DivCenter1{
    font-family: 'TitilliumWeb-Regular';
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.03em;
    margin-bottom: -9%;
}
.DivCenter2{
    font-family: 'TitilliumWeb-Bold';
    display: block;
    color: #1D6960;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-bottom: -11%;
}
.TextLastDiv{
    font-family: 'TitilliumWeb-Bold';
    font-size: 19px;
    color: #1D6960;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.03em;
}
.circle{
    position: relative;
    line-height: 4px;
    margin: 15px 0 0 25px;
    padding: 0;
}
.circle::after {
    content:'';
    width: 15px;
    height: 15px;
    border-radius: 100px;
    position: absolute!important;
    top: 0;
    left: 0;
    transform: translate(-25px, -6px);
    background: #ffff;
}
.ClassInput{
    margin: 10px 2px 0px 12px;
    border: 0.3px solid #868585;
    padding: 12px 10px 12px 10px;
    width: 280px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    background: #FFFFFF;
    box-sizing: border-box;
    color: #757575;
} 
.ClassInput1{
    margin: 110px 0px 0px 0px;
    border: transparent;
    border-radius: 8px;
    padding: 12px 10px 12px 10px;
    width: 405px;
    height: 58px;
    font-family: 'Ebony';
    font-style: normal;
    line-height: 35px;
    font-size: 20px;
    margin-bottom: 2%;
 } 

.LatinAmerica{
    text-align: center;
    font-family: 'TitilliumWeb-Bold';
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.11em;
}
.LatinAmerica::before {
    content:'';
    width: 159px;
    height: 3px;
    position: absolute;
    margin-top: 18px;
    margin-left: -180px;
    background: #CAD665;
}
.LatinAmerica::after{
    content:'';
    width: 159px;
    height: 3px;
    position: absolute;
    margin-top: 18px;
    margin-left: 12px;
    background: #CAD665;
}
.LatinAmerica2{
    width: 100%;
    text-align: center;
    font-family: 'TitilliumWeb-Bold';
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.11em;
    margin-top: -15%;
}
.LatinAmerica2::before {
    content:'';
    width: 159px;
    height: 3px;
    position: absolute;
    margin-top: 18px;
    margin-left: -180px;
    background: #CAD665;
}
.LatinAmerica2::after{
    content:'';
    width: 159px;
    height: 3px;
    position: absolute;
    margin-top: 18px;
    margin-left: 12px;
    background: #CAD665;
}
.Retangle{
    width: 30%;
    margin-right: 20px;
    margin-left: 30px;
}
.DivImages{
    height: 68%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-right: -100px;
    transform: translate( -155px, 5px);  
}
.DivImages1{
    background-color: #F2F2F2;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    z-index: 1;
    margin-top: -55px;
}
.TitleImg{
    font-family: 'TitilliumWeb-Bold';
    color: #000000;
    letter-spacing: 0.11em;
    margin-top: -17%;
    position: absolute;
    margin-left: 23%;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.11em;
}
.ImgChoose1{
    width: 75%;
    height: 40%;
    margin-left: 13.5%;
}
.ImgChoose2{
    width: 33%;
    height: 63%;
    margin-left: 34%;
}
.ImgChoose3{
    width: 70%;
    height: 45%;
    margin-left: 12%;
}
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* ------------------------------------------- ID DE OTURAS TAG ------------------------------------------------------ */
#FlexBox{
    font-family: 'TitilliumWeb-Regular';
    background-color: white;
    width: 20%;
    height: 20%;
    margin-top: 17%;
    margin-left: 52%; 
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    display: block;
}
#Button{
    font-family: "TitilliumWeb-SemiBold";
    width: 175px;
    height: 55px;
    background-color: #CAD665;
      font-weight: bold;
    float: right;
    margin: -20px 43px auto;
    padding: 4px 25px 5px 25px;
    border-radius: 8px;
    border: 0.3px solid;
    border:none;
    font-style: normal;
    font-size: 20px;
    line-height: 41px;  
    letter-spacing: 0.11em;
}
#Button1{
    font-family: "TitilliumWeb-Bold";
    width: 33.5%;
    height: 55px;
    background-color: #E5CF48;
    z-index: 1;
    position: absolute;
    margin-top: 33%;
    border-radius: 8px;
    border: 0.3px solid;
    border:none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0.11em;
}
#Button1:hover{
    background-color: #ac991e;
}
#Button1:hover #Seta {
     transform: translateX(05px);
     transition:transform 0.3s;
}
#Button2{
    font-family: "TitilliumWeb-Bold";
    width: 155px;
    height: 61px;
    color: #ffff;
    background-color: #1D6960;
    border-radius: 8px;
    border: 0.3px solid;
    border:none;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.07em;
    position: absolute;
    margin-left: 22.5%;
    margin-top: -46px;
}
#ImgMap{
    width: 42%;
    height: 85%; 
    margin-left: 7%;
}
#ImgVector{
    width: 31%;
    height: 65%; 
    float: right;
    z-index: 1;
    padding-top: 8%;
    padding-left: 50px;
}
#Img{
    position: absolute;
    margin-left: 10%;
    margin-top: 1.5%;
    z-index: 1;
}
/* ------------------------------------------- ID DAS DIVS------------------------------------------------------ */
.container #BoaCompra{
    width: 60%;
    height: 13%;
    float: left;
    z-index:1;
    background-repeat: no-repeat;
    padding-top: 1%;
} 
.container #Foto{
    width: 100%;
    height: 85%; 
    background-image:url('Imagens/rectangle.png');
    background-color: black;
    position: relative;
    top: -81%;
    background-size: cover;
}
.container #DivAmarela{
    display: block;
    width: 40%;
    height: 100%;
    background: linear-gradient(180deg, #E5CF48 17.71%, rgba(229, 207, 72, 0.25) 100%);
    position: relative;
    z-index:1;
}  
.container #Formulario{
    width: 700px;
    height: 466px;
    margin:46px 230px auto;
    background-color: #F4F4F4;
    position: relative;
    float: right;
    z-index:1;
}  
.container #Formulario1{
    width: 700px;
    height: 330px;
    margin-top: 4.5%;
    margin-left: 7%;
    background-color: #F4F4F4;
    position: relative;
    float: left;
    z-index:1;
}  
.container #Map{
    width: 100%;
    height: 105%;
    background-color: white;
    position: absolute;
    margin-top: -39%;
}
.container #AfterMap{
    width: 100%;
    height: 30%;
    background-color: white;
    position: absolute;
    margin-top: 7%;
}

.container #Icons{
    width: 100%;
    height: 25%;
    background-color: white;
    position: absolute;
    margin-top: 19%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container #TextIcons{
    width: 100%;
    height: 45%;
    background-color: white;
    position: absolute;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.container #ThreeImg{
    width: 100%;
    height: 80%;
    background-color: white;
    position: absolute;
    margin-top: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.container #Title2{
    width: 100%;
    height: 25%;
    background-color: white;
    position: absolute;
    margin-top: 76%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;  
}
.container #Icons2{
    width: 100%;
    height: 25%;
    background-color:white  ;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 85%;
    align-items: center;
}
.container #SecondForm{
    width: 100%;
    height: 75%;
    margin-top: 102%; 
    background-color: #91D3CE;
    position: absolute;
    z-index: 1;
}
.container #ThreeDiv{
    width: 688px;
    height: 126px;
    background-color: #F4F4F4;
    margin-top: -5%;
    margin-left: 58%;
}
.container #ThreeDiv1{
    width: 688px;
    height: 126px;
    background-color: #F4F4F4;
    margin-left: 58%;
    margin-top: 30px;
}
.container #ThreeDiv2{
    width: 688px;
    height: 126px;
    background-color: #F4F4F4;
    margin-top: 2%;
    margin-left: 58%;
    margin-top: 30px;
}
.container #Information{
    width: 100%;
    height: 35%;
    background-color: #F2F2F2;
    margin-top: 138.5%;
    padding-top: 3%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container #DivCenterPrinc{
    width: 10%;
    height: 65%;
    margin-left: 25%;
    background-color: #F2F2F2; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 1;
}
.container #DivCenterPrinc2{
    width: 9%;
    height: 65%;
    margin-left: 36%;
    background-color:#F2F2F2; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: -11.2%;
    z-index: 1;
}
.container #DivCenterPrinc3{
    width: 9%;
    height: 65%;
    margin-left: 50%;
    background-color: #F2F2F2; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: -11.2%;
    z-index: 1;
}
.container #DivCenterPrinc4{
    width: 39%;
    height: 94%;
    margin-left: 61%;
    background-color: #F2F2F2; 
    flex-wrap: nowrap;
    margin-top: -11.2%;
    z-index: 1;
}
.container #LastDiv{
    width: 100%;
    height: 19%;
    background-color: #D5D5D5;
    margin-top: 158%;
    position: absolute;
}
.container #LastDiv1{
    width: 34%;
    height: 30%;
    background-color:#D5D5D5;
    z-index: 1;
    margin-left: 57%;
    margin-top: -106px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}






